<style>
  #loader {
    align-items: center;
    background-color: black;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 1.5s;
    width: 100%;
    z-index: 9999;
  }
  #loader img {
    height: 40%;
    width: auto;
  }
  @media screen and (max-width: 768px) {
    #loader img {
      width: 70%;
    }
  }
</style>

<div id="loader">
  <img class="logo" src="{{ site.baseurl }}/assets/images/logo-white.png" alt="logo-clos-des-liesses">
</div>

<script>
  window.onload = function() {
    document.getElementById('loader').style.opacity = '0';
    setTimeout(function() {
      document.getElementById('loader').style.display = 'none';
    }, 1500);
  };
</script>
