<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body>

    {% include nav.html %}

    <div id="stages">

      {% include loader.html %}

      <a class="stage__back" href="/">
        <i class="fa fa-angle-left"></i>
        <img class="stage__logo" src="{{ site.baseurl }}/assets/images/logo-white.png" alt="logo-its">
      </a>

      <section id="stages__intro">
        <img class="centered-crop-image" src="{{ site.baseurl }}/assets/images/stages.jpg" alt="">
        <h1 class="stage__title">Stages</h1>
      </section>

      <section id="stages__description">
        <div class="stages__description-block">
          <p class="stages__description-text">
            La voix saturée prend ses racines dans l’expression de la colère. Son utilisation s’est développée
            et adaptée aux différents styles musicaux, et dans toutes les esthétiques on peut être amené à
            vivre cette décharge émotionnelle. A l’heure actuelle, la voix saturée est aussi souvent employée
            seulement pour sa couleur.
          </p>
          <p class="stages__description-text">
            Au travers d’exercices, de fondements théoriques et même scientifiques, ce stage permet une
            progression et une maîtrise approfondie et sans risque du chant et des voix extrêmes, en insistant
            sur l'implication mentale et corporelle nécessaire pour un développement ample et sans danger du
            potentiel de chaque vocaliste.</p>
        </div>
      </section>

      <section id="stages__events">
        <div class="stages__events-block">
          <div class="stages__events-tag lvl-1">
            <p>1</p>
          </div>
          <p class="stages__events-title">Voix saturées <span class="lvl-1"><br>[niveau 1]</span></p>
          <p class="stages__events-text"><span class="underline">Dates:</span> 03 et 04 mars 2019</p>
          <p class="stages__events-text"><span class="underline">Lieu:</span> Studio des variétés, Paris 11e</p>
          <p class="stages__events-text"><span class="underline">Tarif:</span> 180€</p>
        </div>
        <div class="stages__events-block">
          <div class="stages__events-tag lvl-1">
            <p>1</p>
          </div>
          <p class="stages__events-title">Voix saturées <span class="lvl-1"><br>[niveau 1]</span></p>
          <p class="stages__events-text"><span class="underline">Dates:</span> 12 et 13 avril 2019</p>
          <p class="stages__events-text"><span class="underline">Lieu:</span> Studio des variétés, Paris 11e</p>
          <p class="stages__events-text"><span class="underline">Tarif:</span> 180€</p>
        </div>
        <div class="stages__events-block">
          <div class="stages__events-tag lvl-2">
            <p>2</p>
          </div>
          <p class="stages__events-title">Voix saturées <span class="lvl-2"><br>[niveau 2]</span></p>
          <p class="stages__events-text"><span class="underline">Dates:</span> 20 et 21 mai 2019</p>
          <p class="stages__events-text"><span class="underline">Lieu:</span> Studio des variétés, Paris 11e</p>
          <p class="stages__events-text"><span class="underline">Tarif:</span> 180€</p>
        </div>
        <div class="stages__events-block">
          <div class="stages__events-tag lvl-2">
            <p>2</p>
          </div>
          <p class="stages__events-title">Voix saturées <span class="lvl-2"><br>[niveau 2]</span></p>
          <p class="stages__events-text"><span class="underline">Dates:</span> 06 et 07 juin 2019</p>
          <p class="stages__events-text"><span class="underline">Lieu:</span> Studio des variétés, Paris 11e</p>
          <p class="stages__events-text"><span class="underline">Tarif:</span> 180€</p>
        </div>
        <div class="stages__events-block">
          <div class="stages__events-tag lvl-1">
            <p>1</p>
          </div>
          <p class="stages__events-title">Voix saturées <span class="lvl-1"><br>[niveau 1]</span></p>
          <p class="stages__events-text"><span class="underline">Dates:</span> 10 et 11 juillet 2019</p>
          <p class="stages__events-text"><span class="underline">Lieu:</span> Studio des variétés, Paris 11e</p>
          <p class="stages__events-text"><span class="underline">Tarif:</span> 180€</p>
        </div>
        <div class="stages__events-block">
          <div class="stages__events-tag lvl-2">
            <p>2</p>
          </div>
          <p class="stages__events-title">Voix saturées <span class="lvl-2"><br>[niveau 2]</span></p>
          <p class="stages__events-text"><span class="underline">Dates:</span> 9 et 10 août 2019</p>
          <p class="stages__events-text"><span class="underline">Lieu:</span> Studio des variétés, Paris 11e</p>
          <p class="stages__events-text"><span class="underline">Tarif:</span> 180€</p>
        </div>
      </section>

      {% include footer.html %}

    </div>


    {% include script.html %}

    <!-- <script src="{{ site.baseurl }}/assets/js/homepage.js?v=0.1"></script> -->

  </body>

</html>
