#stages {
  position: relative;
  background: #f2f5f6;
}

#stages__intro {
  height: 300px;
  margin:0;
  padding:0;
  position: relative;
  overflow: hidden;

  .centered-crop-image {
    padding-top: 20%;
    filter: grayscale(70%);
  }
}

.stage__back {
  height: 70px;
  position: absolute;
  z-index: 1;
  margin: 10px;
  display: flex;

  .fa-angle-left {
    color: white;
    font-size: 40px;
    line-height: 60px;
    margin-right: 10px;
  }
}

.stage__logo {
  height: 100%;
}

.stage__title {
  font-size: 30px;
  color: white;
  z-index: 1;
  position: absolute;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 35px;
  bottom: 0;
  left: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
  padding-left: 40px;
  background: linear-gradient(10deg, #20626d 0%, transparent 80%);
}

#stages__description {
  display: flex;
}

.stages__description-block {
  width: 800px;
  margin: 70px auto 50px auto;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -25px;
    left: -25px;
    width: 50px;
    height: 50px;
    border-top: 5px solid #20626d;
    border-left: 5px solid #20626d;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    right: -25px;
    width: 50px;
    height: 50px;
    border-bottom: 5px solid #20626d;
    border-right: 5px solid #20626d;
  }
}

.stages__description-text {
  margin-bottom: 15px;
  text-align: justify;

  &:last-child {
    margin-bottom: 0;
  }
}

#stages__events {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 10% 100px 10%;
  font-family: "open sans";
  letter-spacing: 0.5px;
}

.stages__events-block {
  height: 200px;
  width: 420px;
  margin: 30px;
  box-shadow: 0 0 5px #a0a0a0;
  padding: 15px 30px;
  background: white;
  transition: all .3s;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #898989;
  }
}

.stages__events-tag {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #4ea1af;

  &.lvl-2 {
    background: #e78353;
  }

  p {
    position: absolute;
    color: #fff;
    bottom: 13px;
    left: 20px;
    font-size: 16px;
  }
}

.stages__events-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;

  span {
    font-weight: 100;
  }
  span.lvl-1 {
    color: #4ea1af;
  }
  span.lvl-2 {
    color: #e78353;
  }
}

.stages__events-text {
  margin-bottom: 10px;

  span.underline {
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    color: #b6b6b6;
    font-size: 14px;
  }
}
